root = true

[*.cs]
# Roslynator rules as warnings
# dotnet_analyzer_diagnostic.category-roslynator.severity = error

# Allow unnecessary braces
dotnet_diagnostic.RCS1251.severity = none

# Parameter name differs from base name
dotnet_diagnostic.RCS1168.severity = none

# Use method chaining
dotnet_diagnostic.RCS1201.severity = none

# Use of curly braces to surround code blocks
csharp_prefer_braces = true:error

# Add summary to documentation comment
dotnet_diagnostic.rcs1138.severity = warning

# Don't require XML documentation
dotnet_diagnostic.CS1591.severity = none

# Remove unnecessary usings
dotnet_diagnostic.IDE0005.severity = error

# Use primary constructors
dotnet_diagnostic.IDE0290.severity = none

# Use read only auto implemented property
dotnet_diagnostic.RCS1170.severity = none

[{host/**}]
generated_code = true
dotnet_analyzer_diagnostic.severity = none

# Disable for generated/external code
[{**/Migrations/**}]
generated_code = true
dotnet_analyzer_diagnostic.severity = none
