name: CI

on:
  pull_request:
    branches: [master]

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup .NET
        uses: actions/setup-dotnet@v4

      - name: Restore tools
        run: dotnet tool restore

      - name: Check formatting
        run: dotnet csharpier check .

      - name: Restore
        run: dotnet restore
      
      - name: Build solution
        run: dotnet build --no-restore
